
@font-face {
    font-family: 'iconfont';
    src: url('../../weui/font/iconfont-v20170407.eot'); /* IE9*/
    src: url('../../weui/font/iconfont-v20170407.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
    url('../../weui/font/iconfont-v20170407.woff') format('woff'), /* chrome、firefox */ 
    url('../../weui/font/iconfont-v20170407.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ 
    url('../../weui/font/iconfont-v20170407.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


.icon-backtop:before {
    content: "\e600";
}

.icon-backward:before {
    content: "\e601";
}

.icon-down:before {
    content: "\e602";
}

.icon-up:before {
    content: "\e603";
}

.icon-arrow-top:before {
    content: "\e604";
}

.icon-arrow-bottom:before {
    content: "\e605";
}

.icon-arrow-right:before {
    content: "\e606";
}

.icon-arrow-left:before {
    content: "\e607";
}

.icon-telphone:before {
    content: "\e608";
}

.icon-telphone-24h:before {
    content: "\e609";
}

.icon-star:before {
    content: "\e60a";
}

.icon-star-fill:before {
    content: "\e60b";
}

.icon-car:before {
    content: "\e60c";
}

.icon-car-viewed:before {
    content: "\e60d";
}

.icon-hit:before {
    content: "\e60e";
}

.icon-praise:before {
    content: "\e60f";
}

.icon-computer:before {
    content: "\e610";
}

.icon-mobile:before {
    content: "\e611";
}

.icon-time:before {
    content: "\e612";
}

.icon-comment:before {
    content: "\e614";
}

.icon-play:before {
    content: "\e615";
}

.icon-petrol:before {
    content: "\e616";
}

.icon-battery:before {
    content: "\e617";
}

.icon-dustbin:before {
    content: "\e618";
}

.icon-edit:before {
    content: "\e619";
}

.icon-search:before {
    content: "\e61a";
}

.icon-ok:before {
    content: "\e61b";
}

.icon-cross:before {
    content: "\e61c";
}

.icon-info:before {
    content: "\e61d";
}

.icon-exclamation:before {
    content: "\e61e";
}

.icon-query:before {
    content: "\e61f";
}

.icon-add:before {
    content: "\e620";
}

.icon-forward:before {
    content: "\e621";
}

.icon-v:before {
    content: "\e622";
}

.icon-flower:before {
    content: "\e624";
}

.icon-invoice:before {
    content: "\e623";
}

.icon-gift:before {
    content: "\e625";
}

.icon-gps:before {
    content: "\e627";
}

.icon-screen-full:before {
    content: "\e628";
}

.icon-screen-restore:before {
    content: "\e629";
}

.icon-map-anchor:before {
    content: "\e62a";
}

.icon-telphone-fill:before {
    content: "\e62b";
}

.icon-pen:before {
    content: "\e62c";
}

.icon-chat:before {
    content: "\e62d";
}

.icon-minus:before {
    content: "\e62e";
}

.icon-play-trigger:before {
    content: "\e62f";
}

.icon-switch:before {
    content: "\e630";
}

.icon-pen-plus:before {
    content: "\e631";
}

.icon-image:before {
    content: "\e632";
}

.icon-phiz:before {
    content: "\e633";
}

.icon-share:before {
    content: "\e634";
}

.icon-man:before {
    content: "\e635";
}

.icon-woman:before {
    content: "\e636";
}

.icon-camera:before {
    content: "\e637";
}

.icon-link:before {
    content: "\e638";
}

.icon-catalog:before {
    content: "\e639";
}

.icon-loan:before {
    content: "\e63a";
}

.icon-cart:before {
    content: "\e63b";
}

.icon-tuan:before {
    content: "\e63d";
}

.icon-swap:before {
    content: "\e63e";
}

.icon-wheel:before {
    content: "\e63f";
}

.icon-image-gather:before {
    content: "\e640";
}

.icon-text:before {
    content: "\e641";
}

.icon-filter:before {
    content: "\e642";
}

.icon-praise-fill:before {
    content: "\e643";
}

.icon-ranking:before {
    content: "\e644";
}

.icon-goto:before {
    content: "\e645";
}

.icon-house:before {
    content: "\e646";
}

.icon-eye:before {
    content: "\e647";
}

.icon-anchor:before {
    content: "\e613";
}

.icon-earphone:before {
    content: "\e648";
}

.icon-car-record:before {
    content: "\e649";
}

.icon-installment:before {
    content: "\e64a";
}

.icon-text-gather:before {
    content: "\e64b";
}

.icon-edit-add:before {
    content: "\e64c";
}

.icon-home:before {
    content: "\e66f";
}

.icon-menu:before {
    content: "\e670";
}

.icon-back:before {
    content: "\e671";
}

.icon-user:before {
    content: "\e672";
}

.icon-car-heart:before {
    content: "\e673";
}

.icon-vr:before {
    content: "\e674";
}

.icon-insurance:before {
    content: "\e675";
}

.icon-live:before {
    content: "\e676";
}

.icon-user-add:before {
    content: "\e67a";
}

.icon-heart:before {
    content: "\e67b";
}

.icon-bankcard:before {
    content: "\e67d";
}

.icon-calc:before {
    content: "\e67e";
}

.icon-steward:before {
    content: "\e680";
}

.icon-violation:before {
    content: "\e684";
}

.icon-v1:before {
    content: "\e68f";
}

.icon-v2:before {
    content: "\e690";
}

.icon-v3:before {
    content: "\e691";
}

.icon-v, .icon-v1, .icon-v2, .icon-v3 {
    display: inline-block;
    padding: .0625rem;
    width: .75rem;
    font-size: .75rem;
    color: #fff;
    line-height: 1;
    text-align: center;
    background-color: #f60;
    border-radius: 50%;
}

    .icon-v::before, .icon-v1::before, .icon-v2::before, .icon-v3::before {
        display: inline-block;
        vertical-align: top;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .icon-v.biz, .icon-v1.biz, .icon-v2.biz, .icon-v3.biz {
        background-color: #3b5998;
    }

    .icon-v1::before {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        margin-left: -.0625rem;
    }

    .icon-v2::before, .icon-v3::before {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        margin-left: -.0625rem;
    }

.icon-play-trigger {
    display: inline-block;
    padding: .375rem .3125rem .375rem .4375rem;
    color: #fff;
    line-height: 1;
    background-color: rgba(0,0,0,0.5);
    border: solid #fff 1px;
    border-radius: 50%;
}
