<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=.;Initial Catalog=DCloudNetDb;User ID=sa;Password=123qweASD" providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=DCloudNetDb;User ID=sa;password=123qweASD;"/>
</connectionStrings>