<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 系统站点配置 -->
  <add key="ConfigPath" value="~/Configs/xmlconfig/website.config" />
  <!-- 钉钉appKey和appSecret配置 -->
  <add key="DingTalkPath" value="~/Configs/xmlconfig/dingtalk.config" />
  <!-- 联系我们 -->
  <add key="Contact" value="www.dalecloud.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="DaleCloud快速开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="dalecloud@163.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!--服务器域名地址-->
  <add key="WebSiteUrl" value="http://eims.dalecloud.cn/" />
  
  <!-- ================== 4：自动识别参数 ================== -->
  <!-- 以下为 CO2NET 的 SenparcSetting 全局配置，请勿修改 key，勿删除任何项 -->

  <!-- 默认缓存命名空间配置 -->
  <add key="DefaultCacheNamespace" value="DefaultCache" />
  <!-- Cache.Redis连接配置 -->
  <add key="Cache_Redis_Configuration" value="Redis配置" />
  <!--<add key="Cache_Redis_Configuration" value="localhost:6379" />-->
  <!-- Cache.Memcached连接配置 -->
  <add key="Cache_Memcached_Configuration" value="Memcached配置" />
  <add key="SenparcUnionAgentKey" value="SenparcUnionAgentKey" />

  <!-- ================== 5： 以下为 Senparc.Weixin 的 SenparcWeixinSetting 微信配置，不使用的参数可以删除 ================== -->
  <!-- 微信公众号URL对接信息 -->
  <add key="WeixinToken" value="应用服务器（开发者服务器）URL对应的Token" />
  <add key="WeixinEncodingAESKey" value="应用服务器（开发者服务器）URL对应的消息加解密密钥" />
  <!-- 高级接口信息 -->
  <add key="WeixinAppId" value="微信AppId" />
  <add key="WeixinAppSecret" value="微信AppSecret" />
  <!-- 微信支付V3 -->
  <add key="TenPayV3_MchId" value="TenPayV3_MchId" />
  <add key="TenPayV3_Key" value="TenPayV3_Key" />
  <add key="TenPayV3_AppId" value="TenPayV3_AppId" />
  <add key="TenPayV3_AppSecret" value="TenPayV3_AppSecret" />
  <add key="TenPayV3_TenpayNotify" value="http://YourDomainName/TenpayV3/PayNotifyUrl" />
  <!-- 小程序 -->
  <!-- 小程序消息URL对接信息 -->
  <add key="WxOpenToken" value="小程序消息URL对应的Token" />
  <add key="WxOpenEncodingAESKey" value="小程序消息URL对应的消息加解密密钥" />
  <!-- 小程序秘钥信息 -->
  <add key="WxOpenAppId" value="微信小程序AppId" />
  <add key="WxOpenAppSecret" value="微信小程序AppSecret" />

  <!-- ================== 6： 以下为钉钉接口配置 ================== -->
  
  
</appSettings>