@{
    ViewBag.Title = "建议意见详情";
    Layout = "~/Views/Shared/WeixinApp/_Detail.cshtml";
}


<header>
    <span class="user-name"></span>
</header>

<div class="weui-cells" style="margin-top:0;">
    <!--工单详情-->
    <div class="page-service-detail">
        <div class="content">
            <div class="aftermain" id="detail_content">
               
            </div>
            <script id="detail_template" type="text/html">
                <div class="aftermian-head">
                    <div class="aftermian-head-text" style="font-size:14px;" >{{$data.T_Title}}</div>
                </div>
              
                <div class="aftermain-palce" style="text-align:left;">产品名称：<span>{{$data.T_ProductName}}</span></div>
                <div class="aftermain-info">
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">联系人：</div><div class="aftermain-info-h2-desc"><span>{{$data.T_Linkman}}</span></div></div>
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">联系电话：</div><div class="aftermain-info-h2-desc">{{$data.T_Mobile}}</div></div>
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">创建时间：</div><div class="aftermain-info-h2-desc">{{$data.T_CreateTime}}</div></div>
                </div>
                <div class="aftermian-doubleline"></div>
                <div class="aftermain-info">
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">反馈问题：</div><div class="aftermain-info-h2-desc">{{$data.T_Problem}}</div></div>
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">解决方案：</div><div class="aftermain-info-h2-desc">{{$data.T_Solution}}</div></div>
                </div>
                <div class="aftermain-palce"><span name="T_Title">处理进度</span></div>
                <div class="aftermain-info">
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">处理意见：</div><div class="aftermain-info-h2-desc">{{$data.T_Reply}}</div></div>
                    <div class="aftermain-info-h2"><div class="aftermain-info-h2-title">完成时间：</div><div class="aftermain-info-h2-desc">{{$data.T_FinishDate}}</div></div>
                </div>
                
            </script>
        </div>
    </div>
   
</div>
<div class="weui-footer">
    <p class="weui-footer__text"></p>
</div>


<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="~/Content/weui/js/jquery-weui.min.js"></script>
<script src="~/Content/weui/js/weui.min.js"></script>
<script src="~/Content/weui/js/weui.expand.js?t=2"></script>
<script>

    var detailData = [];
    var openid = $.cookie('openid');
    var customerId = $.getQueryString("customerId");
    var keyValue = $.getQueryString("keyValue");
    $(document).ready(function () {
        GetOrder(keyValue);
    });

    function GetOrder(keyValue) {
        var req = {
            keyValue: keyValue
        };
        $.ajaxGet({
            data: req,
            url: '/WeixinApp/Suggestion/GetDetailJson',
            success: function (oObject) {
                if (oObject.state != "success") {
                    $.toptip(oObject.message, 'warning');
                    $("#detail_content").html(oObject.message);
                    return false;
                }

                detailData = oObject.res.data;
                var htm = template("detail_template", detailData);
                $("#detail_content").html(htm);
            }
        })
    }

   

</script>



