<?xml version="1.0"?>
<DingTalkConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CorpId>daaa</CorpId>
  <CorpSecret>aaa</CorpSecret>
  <AppName>aa</AppName>
  <HeadPic>aa</HeadPic>
  <AppType>0</AppType>
  <AgentId>aa</AgentId>
  <AppKey>aa</AppKey>
  <AppSecret>aa</AppSecret>
  <Access_Token>-</Access_Token>
  <ApiUrl>aaa</ApiUrl>
</DingTalkConfig>