<?xml version="1.0"?>
<sysconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webpath>/</webpath>
  <webname>企业信息化管理系统</webname>
  <weburl>http://demo.dtcms.net</weburl>
  <webcompany>德尔云科技</webcompany>
  <webaddress>四川省宜宾市临港开发区</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>service@dalecloud.cn</webmail>
  <webcrod>川ICP备11064298号</webcrod>
  <smsapiurl>http://smsapi.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>info@dalecloud.cn</emailfrom>
  <emailusername>info@dalecloud.cn</emailusername>
  <emailpassword>50C215BB3B599960</emailpassword>
  <emailnickname>德尔云</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileanonymous>1</fileanonymous>
  <fileremote>0</fileremote>
  <fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>1600</imgmaxheight>
  <imgmaxwidth>1600</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <thumbnailmode>Cut</thumbnailmode>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>dalecloud</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
</sysconfig>