<?xml version="1.0"?>
<WeixinConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WxName>邦德汽车服务</WxName>
  <WxId>gh_2026d6fc1545</WxId>
  <WxCode>bondauto</WxCode>
  <HeadPic>555</HeadPic>
  <ApiUrl>localhost:2024/api/weixin/index?apiid=bondauto</ApiUrl>
  <AppId>77</AppId>
  <AppSecret>88</AppSecret>
  <Access_Token />
  <Encoding>99</Encoding>
  <WxType>0</WxType>
  <CloseKW>false</CloseKW>
  <PersonSynDate xsi:nil="true" />
  <OpenidCount xsi:nil="true" />
</WeixinConfig>