@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ProductManage/ProductInfo/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#T_ModelCode").bindSelect({
            url: "/ProductManage/ProductModels/GetTreeSelectJson",
            id:"code"
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/ProductManage/ProductInfo/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            
            <tr>
                <th class="formTitle">名称</th>
                <td class="formValue" colspan="3">
                    <input id="T_FullName" name="T_FullName" type="text" class="form-control required" placeholder="请输入名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">型号</th>
                <td class="formValue">
                    <select id="T_ModelCode" name="T_ModelCode" class="form-control required">
                        <option value="0">父节点</option>
                    </select>
                </td>
                <th class="formTitle">规格</th>
                <td class="formValue">
                    <input id="T_Size" name="T_Size" type="text" class="form-control required" placeholder="请输入编号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">版本</th>
                <td class="formValue">
                    <input id="T_Version" name="T_Version" type="text" class="form-control required" />
                </td>
                <th class="formTitle">子版本</th>
                <td class="formValue">
                    <input id="T_ChildVersion" name="T_ChildVersion" type="text" class="form-control " />
                </td>
            </tr>
            <tr>
                <th class="formTitle">创建日期</th>
                <td class="formValue">
                    <input id="T_ReleaseTime" name="T_ReleaseTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                </td>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="T_State" name="T_State" type="checkbox" checked="checked"><label for="T_State">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">产品介绍
                </th>
                <td class="formValue" colspan="3">
                    <textarea id="T_Content" name="T_Content" class="form-control" style="height: 80px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    机械说明
                </th>
                <td class="formValue" colspan="3">
                    <textarea id="T_MachineryContent" name="T_MachineryContent" class="form-control" style="height: 80px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    电气说明
                </th>
                <td class="formValue" colspan="3">
                    <textarea id="T_ElectricalContent" name="T_ElectricalContent" class="form-control" style="height: 80px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    软件说明
                </th>
                <td class="formValue" colspan="3">
                    <textarea id="T_SoftwareContent" name="T_SoftwareContent" class="form-control" style="height: 80px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>
