<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Senparc.CO2NET" version="1.0.103" targetFramework="net45" />
  <package id="Senparc.CO2NET.APM" version="0.6.102" targetFramework="net45" />
  <package id="Senparc.NeuChar" version="1.0.104" targetFramework="net45" />
  <package id="Senparc.NeuChar.App" version="0.6.104" targetFramework="net45" />
  <package id="Senparc.WebSocket" version="0.9.104" targetFramework="net45" />
  <package id="Senparc.Weixin" version="6.6.104.1" targetFramework="net45" />
  <package id="Senparc.Weixin.MP" version="16.9.104.1" targetFramework="net45" />
  <package id="Senparc.Weixin.MP.MVC" version="7.2.13" targetFramework="net45" />
  <package id="Senparc.Weixin.TenPay" version="1.5.104" targetFramework="net45" />
  <package id="Senparc.Weixin.Work" version="3.7.104.2" targetFramework="net45" />
  <package id="Senparc.Weixin.WxOpen" version="3.7.104.2" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" />
</packages>