<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="~/Content/weui/css/weui.min.css">
    <link rel="stylesheet" href="~/Content/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="~/Content/weui/css/layout.css?v=1.0">
    <script src="~/Content/weui/js/jquery-2.1.4.js"></script>
    <script src="~/Content/weui/js/jquery.cookie.js"></script>
    <script src="~/Content/weui/js/fastclick.js"></script>
    <script src="~/Content/weui/js/common.js?v=19100101"></script>
    <script src="~/Content/js/art-template/template-web.js"></script>
    <script src="~/Content/js/art-template/dateformate.js"></script>
    <script type="text/javascript" src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.6.0/dingtalk.open.js"></script>

</head>
<body ontouchstart="">
    @RenderBody()
    @Html.AntiForgeryToken()
  
</body>
</html>
