@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/WeixinManage/WxSubscribe/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
   
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/WeixinManage/WxSubscribe/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$('#dg').datagrid('reload');;
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">账号ID</th>
                <td class="formValue">
                    <input id="T_Id" name="T_Id" type="text" class="form-control required" placeholder="请输入字母、数字组合的ID" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">公众帐号名称</th>
                <td class="formValue">
                    <input id="T_WxName" name="T_WxName" type="text" class="form-control required" placeholder="请输入员工名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">公众号原始ID</th>
                <td class="formValue">
                    <input id="T_WxId" name="T_WxId" type="text" class="form-control required" placeholder="请输入员工编号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">微信号</th>
                <td class="formValue">
                    <input id="T_WxCode" name="T_WxCode" type="text" class="form-control required" placeholder="请输入员工编号" />
                </td>
            </tr>
            
            <tr>
                <th class="formTitle">*接口地址</th>
                <td class="formValue">
                    <div class="input-group">
                        <input id="T_ApiUrl" name="T_ApiUrl" type="text" class="form-control required" placeholder="自动生成" />
                        <span class="input-group-btn">
                            <a class="btn  btn-primary">&nbsp;生成&nbsp;</a>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">头像</th>
                <td class="formValue">
                    <div class="input-group">
                        <input id="T_HeadPic" name="T_HeadPic" type="text" class="form-control" />
                        <span class="input-group-btn">
                            <a class="btn  btn-primary"><i class="fa fa-ellipsis-h"></i></a>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <select id="T_Status" name="T_Status" class="form-control required">
                        <option value="1">有效</option>
                        <option value="0">失效</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    备注
                </th>
                <td class="formValue">
                    <textarea id="T_Remark" name="T_Remark" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    创建时间
                </th>
                <td class="formValue">
                    <input id="T_CreateTime" name="T_CreateTime" type="text" class="form-control" disabled="disabled" />
                    
                </td>
            </tr>
            <tr>
                <th class="formTitle"></th>
                <td class="formValue">
                    <span style="color:blue;">以下为高级功能配置，非必填项</span>
                </td>
            </tr>
            <tr>
                <th class="formTitle">AppId</th>
                <td class="formValue">
                    <input id="T_AppId" name="T_AppId" type="text" class="form-control " placeholder="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">AppSecret</th>
                <td class="formValue">
                    <input id="T_AppSecret" name="T_AppSecret" type="text" class="form-control " placeholder="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Encoding</th>
                <td class="formValue">
                    <input id="T_Encoding" name="T_Encoding" type="text" class="form-control required" placeholder="" />
                </td>
            </tr>
        </table>
    </div>
</form>
